@model IEnumerable<CRM.Models.Branch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul class="nav nav-tabs">
    <li>
        <h4>
            @foreach (var item in Model)
            {
                <a onclick="selectGroupesByBranchId(@item.Id)">@Html.DisplayFor(modelItem => item.Name)</a>
            }
        </h4>
    </li>

</ul>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="selectedGroupesByBranchId"></div>


@section Scripts {
    <script>
        function selectGroupesByBranchId(Id) {
            $('#selectedGroupesByBranchId').load('@Url.Action("SelectGroupesByBranchId", "Branch")?id=' + Id);
        }
    </script>
}