@model CRM.ViewModels.EditStudentViewModel
@using CRM.Helpers;

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control"/>
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelId" class="control-label">Название уровня</label>
                <select asp-for="LevelId" class="form-control" asp-items="@Model.Levels"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirthday" class="control-label"></label>
                <input asp-for="DateOfBirthday" class="form-control"/>
                <span asp-validation-for="DateOfBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrialDate" class="control-label"></label>
                <input asp-for="TrialDate" class="form-control"/>
                <span asp-validation-for="TrialDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentName" class="control-label"></label>
                <input asp-for="ParentName" class="form-control"/>
                <span asp-validation-for="ParentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentLastName" class="control-label"></label>
                <input asp-for="ParentLastName" class="form-control"/>
                <span asp-validation-for="ParentLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentFatherName" class="control-label"></label>
                <input asp-for="ParentFatherName" class="form-control"/>
                <span asp-validation-for="ParentFatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">Коментарии</label>
                <textarea asp-for="Comment" class="form-control" new { cols="100" , rows="8" , style="width:100%;" }></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label">Название группы</label>
                <select asp-for="GroupId" class="form-control" asp-items="@Model.Groups"></select>
            </div>
            <div class="form-group">
                <label asp-for="LevelId" class="control-label">Название уровня</label>
                <select asp-for="LevelId" class="form-control" asp-items="@Model.Levels"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<StudentStatusEnum>()"></select>
            </div>

            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="StudentStatusEnum"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>