@model List<Branch>
@using CRM.Helpers

@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-tabs">
    <li>
        <h4>
            @foreach (var item in Model)
            {
                <a onclick="SelectArchiveStudentsByBranchId(@item.Id)">@Html.DisplayFor(modelItem => item.Name)</a>
            }
        </h4>
    </li>
</ul>

<div id="SelectedArchiveStudentsByBranchId"></div>

@section Scripts {
    <script>
        function SelectArchiveStudentsByBranchId(Id) {
            $('#SelectedArchiveStudentsByBranchId').load('@Url.Action("SelectArchiveStudentsByBranchId", "Student")?id=' + Id);
        }
    </script>
}
