@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h2>Поиск студентов</h2>


<div>
    <input type="text" name="searchKey" id="search" />
    <select id="column" name="column" style="height: 30px;">
        <option>Поиск по фамилии</option>
        <option>Поиск по имени</option>
    </select>
    <input type='button' id="submit" onclick="myFunction()" value='Найти' />
    <div id="results"></div>
</div>

@section Scripts {
    <script>
        function myFunction() {
            var searchKey = $('#search').val();
            var column = $('#column').val();
            searchKey = encodeURIComponent(searchKey);
            column = encodeURIComponent(column);
            $('#results').load('@Url.Action("SearchAjaxResult", "Student")?keyWord=' + searchKey + "&column=" + column);
        }
    </script>
}